extends layout

block content
  form(action="/book/set",  method="post", enctype="multipart/form-data").container.mt-5
    div.row
      div.col-3
        div.row.justify-content-center
            img(src=book && book.image ? "/img/books/" + book.image : "/img/books/default.jpg" width="300px")
        div.row.justify-content-center
            input(type="file", name="image", accept="image/x-png,image/gif,image/jpeg")
      div.col-9
        div.card 
          div.card-body
            div.row
              div.col-12
                h4 #{book ? "Edit" : "Create"} Book
                hr
            div.row
              div.col-12
                div.form-group.row
                  label.col-4.col-form-label Title
                  div.col-8
                    input.form-control.here(name="title", placeholder="Title", required="required", type="text", value=book ? book.title : "", maxlength="500")
                div.form-group.row
                  label.col-4.col-form-label(for="name") Author
                  div.col-8
                    input.form-control.here(name="author", placeholder="Author", required="required", type="text", value=book ? book.author : "", maxlength="255")
                div.form-group.row
                  label.col-4.col-form-label(for="lastname") Date
                  div.col-8
                    input.form-control.here(name="date", required="required", type="datetime-local", value=book ? book.date : "", max="9999-12-31T23:59")
                div.form-group.row
                  label.col-4.col-form-label Description
                  div.col-8
                    textarea.form-control(name="description", rows="12", maxlength="5000") #{book ? book.description : ""}
                div.form-group.row
                  div.offset-4.col-auto
                    input(name="book_id", type="hidden", required="required", value=book ? book.book_id : "")
                    input.btn.btn-primary(type="submit", value=book ? "Update" : "Create")
